{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/booking.css' %}">
        <title>Bus Booking</title>
    </head>
    <body>
        <div class="bus_top_heading">
            <h1>Book Bus with Green Bus</h1>
        </div>

        <div class="tenor-gif-embed" data-postid="17796635" data-share-method="host" data-aspect-ratio="3.3" data-width="100%"><a href="https://tenor.com/view/mom-mobilitadimarca-mobilit%C3%A0di-marca-bus-moving-gif-17796635">Mom Mobilitadimarca Sticker</a>from <a href="https://tenor.com/search/mom-stickers">Mom Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        
        {% if messages %}
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
      {% endif %}

        <div class="home">
            <a href="{% url 'homepage' %}">Back to Home</a>
        </div>
        <div class = "form_class">
            <form method="post">
                {% csrf_token %}
                {{book_form.as_p}}
            <input class="submit_button" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
